body{
  margin:0;
  background:#111;

  overflow:auto;
}

/* =====================
   ポスター本体
===================== */
#poster{
  position:relative;

  width:1080px;
  height:1350px;

  margin:0 auto;

  background:#fff;

  overflow:hidden;

  box-shadow:
    0 20px 60px rgba(0,0,0,0.35),
    0 5px 15px rgba(0,0,0,0.2);
}

/* =====================
   上写真
===================== */

.top-photo{
  position:absolute;

  top:86px;
  left:45px;

  width:990px;
  height:455px;

  object-fit:cover;

  z-index:1;
}

/* =====================
   日付
===================== */

.date{
  position:absolute;

  top:825px;
  left:80px;

  color:#1e90ff;

  font-size:40px;
  font-weight:bold;

  line-height:1.1;

  z-index:30;
  
  transform: rotate(-5deg);
}

/* =====================
   相手
===================== */

.opponent{
  position:absolute;

  top:805px;
  left:320px;

  color:#0b2c84;

  font-size:45px;
  font-weight:bold;

  z-index:30;

  transform: rotate(-4deg);
}

/* =====================
   勝敗
===================== */

.result{
  position:absolute;

  top:890px;
  left:190px;

  font-size:130px;
  font-weight:900;

  transform:rotate(-8deg);

  z-index:30;
}

.win{
  color:#d4a000;
}

.lose{
  color:#d10000;
}

.draw{
  color:#666;
}

/* =====================
   スコア
===================== */

.score{
  position:absolute;

  top:800px;
  right:70px;

  display:flex;
  justify-content:center;
  gap:40px;

  color:#0b2c84;

  font-size:210px;
  font-weight:900;

  line-height:1;

  z-index:30;
  
  transform: rotate(3deg);
}

/* =====================
   下写真
===================== */

.bottom-photo{
  position:absolute;

  left:190px;
  bottom:98px;

  width:330px;
  height:245px;

  object-fit:cover;

  z-index:1;
}

/* =====================
   得点者
===================== */

.scorer{
  position:absolute;

  left:100px;
  bottom:100px;

  color:#0b2c84;

  font-size:34px;
  font-weight:bold;

  z-index:30;
}

/* =====================
   通算成績
===================== */

.record{
  position:absolute;

  right:90px;
  bottom:80px;

  color:#0b2c84;

  font-size:44px;
  font-weight:bold;

  z-index:30;
}

#template{
  position:absolute;
  top:0;
  left:0;

  width:100%;
  height:100%;

  object-fit:cover;

  z-index:2;
}

.tournament{
  position:absolute;

  top:690px;
  right:75px;

  width:320px;

  text-align:center;

  color:#1e90ff;

  font-size:42px;
  font-weight:bold;

  transform:rotate(-5deg);

  z-index:30;
}
